<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Footer</title>
</head>
<body>
    <footer class="text-center text-lg-start text-white" style="background-color: #4267B2;">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Links -->
          <section class="">
            <!--Grid row-->
            <div class="row">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Peer Pulse</h6>
                <p>
                  Peer Pulse is a dynamic and revolutionary platform designed to
                  transform the way we connect, share, and interact online. With a
                  strong focus on authenticity, meaningful engagement, and user
                  well-being.
                </p>
              </div>
              <!-- Grid column -->
    
              <hr class="w-100 clearfix d-md-none" />
    
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Peer Pulse</h6>
                <p>
                  <a class="text-white" href="/features">Features</a>
                </p>
                <p>
                  <a class="text-white" href="/communities">Communities</a>
                </p>
                <p>
                  <a class="text-white" href="/security">Security</a>
                </p>
                <p>
                  <a class="text-white" href="/blog">Blog</a>
                </p>
              </div>
              <!-- Grid column -->
    
              <hr class="w-100 clearfix d-md-none" />
    
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">
                  Download links
                </h6>
                <p>
                  <a class="text-white" href="#">Android</a>
                </p>
                <p>
                  <a class="text-white" href="#">i-pad & ios</a>
                </p>
                <p>
                  <a class="text-white" href="#">Mac</a>
                </p>
                <p>
                  <a class="text-white" href="#">Linux</a>
                </p>
              </div>
    
              <!-- Grid column -->
              <hr class="w-100 clearfix d-md-none" />
    
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                <p>
                  <i class="fas fa-home mr-3"></i> kolkata ,New-town-700156 , Ind
                </p>
                <p><i class="fas fa-envelope mr-3"></i> peerpulse@gmail.com</p>
                <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
              </div>
              <!-- Grid column -->
            </div>
            <!--Grid row-->
          </section>
          <!-- Section: Links -->
    
          <hr class="my-3" />
    
          <!-- Section: Copyright -->
          <div class="d-flex flex-column flex-sm-row justify-content-space py-2 my-4 border-top">
            <p class="mx-4 py-7">© 2023 Company, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
              <li class="ms-3 fa-2x">
                <a class="link-dark" href="#"><i class="fa-brands fa-twitch"></i></a>
              </li>
              <li class="ms-3 fa-2x">
                <a class="link-dark" href="#"><i class="fa-brands fa-youtube"></i></a>
              </li>
              <li class="ms-3 fa-2x">
                <a class="link-dark" href="#"><i class="fa-brands fa-instagram"></i></a>
              </li>
              <li class="ms-3 fa-2x">
                <a class="link-dark" href="#"><i class="fa-brands fa-snapchat"></i></a>
              </li>
              <li class="ms-3 fa-2x">
                <a class="link-dark" href="#"><i class="fa-brands fa-vk"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
</body>
</html>