<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/blog.css" />
  </head>

  <body>
    <!-- Header Section -->
    <%- include("partials/Header") %>

    <!-- Blog Section -->
    <section class="trending-product" id="trending">
      <h1 class="title">Then Mention Vlog</h1>
      <p class="pera">
        The most curent social media, monitoring, and marketing best practies
        <br />
        form industry experts.
      </p>
      <div class="center-text">
        <div class="view">
          <h2>Digital Marketing</h2>
          <a href="#" class="main-btn"
            >View all<i class="bx bx-right-arrow-alt"></i
          ></a>
        </div>
      </div>
      <div class="products">
        <div class="row">
          <a href="#">
            <img
              src="https://mention.com/wp-content/uploads/2023/08/topical-authority-cover-312x200.jpg"
              alt=""
            />
            <h5>01-09-2023</h5>
            <h4>Topical Authority in SEO: What Is It & How to Build It</h4>
            <p>
              Imagine a scenario where every time you publich an artical on your
              website,....
            </p>
          </a>
        </div>
        <div class="row">
          <a href="#">
            <img
              src="https://mention.com/wp-content/uploads/2023/08/employee-communication-channels-cover-312x200.jpg"
              alt=""
            />
            <h5>23-08-2023</h5>
            <h4>Creating Employee Communication Channels to Boo...</h4>
            <p>
              Are you Concerned with the level of engagement and productivity of
              your emp...
            </p>
          </a>
        </div>
        <div class="row">
          <a href="#">
            <img
              src="https://mention.com/wp-content/uploads/2023/08/interactive-email-cover-312x200.jpg"
              alt=""
            />
            <h5>18-08-2023</h5>
            <h4>Interctive Emails Vs. Traditional Emails</h4>
            <p>
              Since their invention, emails have largely been plain texts.This
              was follo...
            </p>
          </a>
        </div>
      </div>
      <div class="center-text">
        <div class="view">
          <h2>Most Popular</h2>
          <a href="#" class="main-btn"
            >View all<i class="bx bx-right-arrow-alt"></i
          ></a>
        </div>
      </div>
      <div class="products">
        <div class="row">
          <a href="#">
            <img
              src="https://mention.com/wp-content/uploads/2022/12/best-instagram-caption-312x200.jpg"
              alt=""
            />
            <h5>22-12-2023</h5>
            <h4>647 Best Instagram Captions to Copy and Paste</h4>
            <p>
              How many of us spent hours thinking of the perfect caption for our
              lns...
            </p>
          </a>
        </div>
        <div class="row">
          <a href="#">
            <img
              src="https://mention.com/wp-content/uploads/2018/01/7-Killer-Marketing-Newsletters-That-You-Need-to-Subscribe-to-Header.png"
              alt=""
            />
            <h5>16-09-2023</h5>
            <h4>
              10 killer Marketing Newsletters That You Need to Subscribe t...
            </h4>
            <p>
              Most marketing Newsetters are boring AF, I'll be the first to say
              it. As...
            </p>
          </a>
        </div>
        <div class="row">
          <a href="#">
            <img
              src="https://mention.com/wp-content/uploads/2022/06/17-creative-ways-to-use-qr-codes-1-312x200.jpg"
              alt=""
            />
            <h5>15-06-2023</h5>
            <h4>17 Creative Ways to Use QR Codes</h4>
            <p>
              Statista reports that 11 million households scanned at least none
              QR code in...
            </p>
          </a>
        </div>
      </div>
      <div class="center-text">
        <div class="view">
          <h2>Social Media</h2>
          <a href="#" class="main-btn"
            >View all<i class="bx bx-right-arrow-alt"></i
          ></a>
        </div>
      </div>
      <div class="products">
        <div class="row">
          <a href="#">
            <img
              src="https://mention.com/wp-content/uploads/2023/08/gen-z-prefers-instagram-search-cover-312x200.jpg"
              alt=""
            />
            <h5>06-09-2023</h5>
            <h4>7 Instagram Customer Care Best Practies to Follow</h4>
            <p>
              In the past, customers had to rely on phone calls or email to
              resolve their...
            </p>
          </a>
        </div>
        <div class="row">
          <a href="#">
            <img
              src="https://mention.com/wp-content/uploads/2023/08/psychology-of-color-cover-312x200.jpg"
              alt=""
            />
            <h5>30-08-2023</h5>
            <h4>8 Reasons Why Gen Zers Prefer Instagram Search</h4>
            <p>
              Did you know that Instagram has over 1 billion active users each
              month? The...
            </p>
          </a>
        </div>
        <div class="row">
          <a href="#">
            <img
              src="https://mention.com/wp-content/uploads/2023/08/marketing-on-twitch-cover-312x200.jpg"
              alt=""
            />
            <h5>2023-08-25</h5>
            <h4>
              10 Killer Marketing Newsletters That You Need to Subscribe t...
            </h4>
            <p>
              Most marketing newsletters are boring AF, I’ll be the first to say
              it. As...
            </p>
          </a>
        </div>
      </div>
      <div class="center-text">
        <div class="view">
          <h2>Digital Marketing</h2>
          <a href="#" class="main-btn"
            >View all<i class="bx bx-right-arrow-alt"></i
          ></a>
        </div>
      </div>
      <div class="products">
        <div class="row">
          <a href="#">
            <img
              src="https://mention.com/wp-content/uploads/2023/08/online-reputation-management-ecommerce-cover-312x200.jpg"
              alt=""
            />
            <h5>2022-06-15</h5>
            <h4>17 Creative Ways to Use QR Codes</h4>
            <p>
              Statista reports that 11 million households scanned at least one
              QR...
            </p>
          </a>
        </div>
        <div class="row">
          <a href="#">
            <img
              src="https://mention.com/wp-content/uploads/2023/04/avoid-damage-with-crisis-communication-cover-312x200.jpg"
              alt=""
            />
            <h5>2023-09-01</h5>
            <h4>Topical Authority in SEO: What Is It & How to Build It</h4>
            <p>
              Imagine a scenario where every time you publich an artical on your
              website,....
            </p>
          </a>
        </div>
        <div class="row">
          <a href="#">
            <img
              src="https://mention.com/wp-content/uploads/2022/01/how-to-make-your-online-reviews-work-for-you-in-2022-312x200.jpg"
              alt=""
            />
            <h5>2023-09-01</h5>
            <h4>Topical Authority in SEO: What Is It & How to Build It</h4>
            <p>
              Imagine a scenario where every time you publich an artical on your
              website,....
            </p>
          </a>
        </div>
      </div>
      <div class="center-text">
        <div class="view">
          <h2>Digital Marketing</h2>
          <a href="#" class="main-btn"
            >View all<i class="bx bx-right-arrow-alt"></i
          ></a>
        </div>
      </div>
      <div class="products">
        <div class="row">
          <a href="#">
            <img
              src="https://mention.com/wp-content/uploads/2021/02/how-social-listening-can-enrich-your-clients-marketing-campaigns-312x200.jpg"
              alt=""
            />
            <h5>2023-09-01</h5>
            <h4>Topical Authority in SEO: What Is It & How to Build It</h4>
            <p>
              Imagine a scenario where every time you publich an artical on your
              website,....
            </p>
          </a>
        </div>
        <div class="row">
          <a href="#">
            <img
              src="https://mention.com/wp-content/uploads/2020/12/10-strategies-to-scale-your-digital-marketing-agency-3-312x200.jpg"
              alt=""
            />
            <h5>2023-09-01</h5>
            <h4>Topical Authority in SEO: What Is It & How to Build It</h4>
            <p>
              Imagine a scenario where every time you publich an artical on your
              website,....
            </p>
          </a>
        </div>
        <div class="row">
          <a href="#">
            <img
              src="https://mention.com/wp-content/uploads/2019/11/8-Project-Management-Tools-For-Digital-Marketing-Agencies-Header.jpg"
              alt=""
            />
            <h5>2023-09-01</h5>
            <h4>Topical Authority in SEO: What Is It & How to Build It</h4>
            <p>
              Imagine a scenario where every time you publich an artical on your
              website,....
            </p>
          </a>
        </div>
      </div>
      <div class="center-text">
        <div class="view">
          <h2>Mention News</h2>
          <a href="#" class="main-btn"
            >View all<i class="bx bx-right-arrow-alt"></i
          ></a>
        </div>
      </div>
      <div class="products">
        <div class="row">
          <a href="#">
            <img
              src="https://mention.com/wp-content/uploads/2022/01/Header-312x200.jpg"
              alt=""
            />
            <h5>2023-08-21</h5>
            <h4>Monitoring made simple. A product manager interview.</h4>
            <p>
              If monitoring isn’t part of your marketing team’s routine yet, ...
            </p>
          </a>
        </div>
        <div class="row">
          <a href="#">
            <img
              src="https://mention.com/wp-content/uploads/2022/01/Header-312x200.jpg"
              alt=""
            />
            <h5>2023-06-03</h5>
            <h4>
              4 Interesting Ways to Use Instagram Carousels for your Brand
            </h4>
            <p>
              When it comes to sharing content on Instagram, there is one post
              format tha...
            </p>
          </a>
        </div>
        <div class="row">
          <a href="#">
            <img
              src="https://mention.com/wp-content/uploads/2022/01/Header-312x200.jpg"
              alt=""
            />
            <h5>2023-06-16</h5>
            <h4>
              Product spotlight: Add some magic to your analysis and don’t...
            </h4>
            <p>
              From now on, every quarter, we will provide you with an exclusive
              recap of ...
            </p>
          </a>
        </div>
      </div>
      <div class="center-text">
        <div class="view">
          <h2>Trending</h2>
          <a href="#" class="main-btn"
            >View all<i class="bx bx-right-arrow-alt"></i
          ></a>
        </div>
      </div>
      <div class="products">
        <div class="row">
          <a href="#">
            <img
              src="https://mention.com/wp-content/uploads/2019/11/FIFA_Womens_World_Cup_2019_header.jpg"
              alt=""
            />
            <h5>2019-06-05</h5>
            <h4>4 Reasons Why The FIFA Women's World Cup 2019 Is a Game...</h4>
            <p>
              It’s FIFA World Cup time! This means that millions of sports fans
              will be...
            </p>
          </a>
        </div>
        <div class="row">
          <a href="#">
            <img
              src="https://mention.com/wp-content/uploads/2019/11/Instagram-Engagement-Report-2019-The-more-hashtags-the-less-engagement-large.jpg"
              alt=""
            />
            <h5>2019-03-18</h5>
            <h4>
              Instagram Engagement Report 2019: The more hashtags, the les...
            </h4>
            <p>
              This short post is the last of a series of five in which we share
              some of t...
            </p>
          </a>
        </div>
        <div class="row">
          <a href="#">
            <img
              src="https://mention.com/wp-content/uploads/2019/11/Instagram-Engagement-Report-2019-Tagging-Users-Doesn%E2%80%99t-Generate-Engagement-large.jpg"
              alt=""
            />
            <h5>2019-03-1</h5>
            <h4>Topical Authority in SEO: What Is It & How to Build It</h4>
            <p>
              Imagine a scenario where every time you publich an artical on your
              website,....
            </p>
          </a>
        </div>
      </div>
    </section>

    <!-- Footer Section -->
    <%- include("partials/Footer") %>

    <!-- Bootstrap Script -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
