<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Social Media</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/NewsFeed.css">
  </head>
  <style>
  </style>

  <body>
    <!-- Navbar -->
    <header class="fixed-top header-static">
      <!-- Logo Nav START -->
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <!-- Logo START -->
          <a class="navbar-brand" href="index.html">
            <img
              class="light-mode-item navbar-brand-item"
              src="/images/PeerPulse_img.png"
              height="26px"
              alt="logo"
            />
          </a>
          <!-- Logo END -->

          <!-- Responsive navbar toggler -->

          <!-- Main navbar START -->
          <div class="navbar-collapse collapse" id="navbarCollapse">
            <!-- Nav Search START -->
            <div
              class="nav mt-3 mt-lg-0 flex-nowrap align-items-center px-4 px-lg-0"
            >
              <div class="nav-item w-100 h-100">
                <form class="form">
                  <button>
                      <svg width="17" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="search">
                          <path d="M7.667 12.667A5.333 5.333 0 107.667 2a5.333 5.333 0 000 10.667zM14.334 14l-2.9-2.9" stroke="currentColor" stroke-width="1.333" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                  </button>
                  <input class="input" placeholder="Search.." required="" type="text">
                  <button class="reset" type="reset">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                      </svg>
                  </button>
              </form>
              </div>
            </div>
            <!-- Nav Search END -->
           <div class="mx-auto text-white icons nav-icons">
              <span class="material-icons mx-5"> home </span>
              <span class="material-icons mx-4"> chat </span>
              <span class="material-icons mx-4"> groups </span>
              <span class="material-icons mx-5"> smart_display </span>
            </div>
            <ul class="navbar-nav navbar-nav-scroll ms-autos" style="cursor: pointer;">
              <li class="nav-item text-white icons">
                <img class="mx-3" width="25" height="25" src="https://img.icons8.com/fluency/48/envelope-number.png" alt="envelope-number"/> <!-- Message icon -->
                <img class="mx-3" width="25" height="25" src="https://img.icons8.com/fluency/48/appointment-reminders--v1.png" alt="appointment-reminders--v1"/> <!-- Notification icon -->
              </li>
            </ul>
          </div>
          <div class="profile-pic mx-3">
            <span class="avatar cmn-head active-status">
              <img
                class="avatar-img max-un"
                src="https://pbs.twimg.com/profile_images/1685344710498656256/PYCqwObJ_400x400.jpg"
                alt="avatar"
                width="45px"
                height="40px"
                style="border-radius: 50%"
              />
            </span>
          </div>
          <!-- Main navbar END -->
        </div>
      </nav>
      <!-- Logo Nav END -->
    </header>

    <!-- Main Container -->
    <div class="container">
      <div class="row g-4">

        <!-- Left Sidebar -->
        <div class="col-lg-3">
          <!-- Navbar START-->
          <nav class="navbar navbar-expand-lg mx-0">
            <div
              class="offcanvas offcanvas-start"
              tabindex="-1"
              id="offcanvasSideNavbar"
            >
              <!-- Offcanvas header -->
              <div class="offcanvas-header">
                <button
                  type="button"
                  class="btn-close text-reset ms-auto"
                  data-bs-dismiss="offcanvas"
                  aria-label="Close"
                ></button>
              </div>

              <!-- Offcanvas body -->
              <div class="offcanvas-body d-block px-2 mt-5 px-lg-0">
                <!-- Card START -->
                <div class="card overflow-hidden mt-5">
                  <!-- Card body START -->
                  <div class="card-body pt-0">
                    <div class="text-center">
                      <!-- Avatar -->
                      <div class="avatar avatar-lg mt-n5 mb-3">
                        <a href="#!"
                          ><img
                            class="avatar-img rounded border border-white border-2"
                            src="https://pbs.twimg.com/profile_images/1685344710498656256/PYCqwObJ_400x400.jpg"
                            alt=""
                            style="width: 60px; height: 60px"
                        /></a>
                      </div>
                      <!-- Info -->
                      <h5 class="mb-0 fw-bold">Suvra Ghosh</h5>
                      <small>Web Developer at PeerPulse</small>
                      <p class="mt-3">
                        I'd love to change the world, but they won’t give me the
                        source code.
                      </p>

                      <!-- User stat START -->
                      <div class="hstack gap-2 gap-xl-3 justify-content-center">
                        <!-- User stat item -->
                        <div>
                          <h6 class="mb-0">256</h6>
                          <small>Post</small>
                        </div>
                        <!-- Divider -->
                        <div class="vr"></div>
                        <!-- User stat item -->
                        <div>
                          <h6 class="mb-0">2.5K</h6>
                          <small>Followers</small>
                        </div>
                        <!-- Divider -->
                        <div class="vr"></div>
                        <!-- User stat item -->
                        <div>
                          <h6 class="mb-0">365</h6>
                          <small>Following</small>
                        </div>
                      </div>
                      <!-- User stat END -->
                    </div>

                    <!-- Divider -->
                    <hr />

                    <!-- Side Nav START -->
                    <ul
                      class="nav nav-link-secondary flex-column fw-bold gap-2 left-nav"
                    >
                      <li class="nav-item">
                        <a class="nav-link" href="">
                          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 48 48">
                            <linearGradient id="puiLIdPFIkDHpSx0J2pbQa_FplL8MNgQtgJ_gr1" x1="41.018" x2="45.176" y1="26" y2="26" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#890d14"></stop><stop offset=".761" stop-color="#951f26"></stop><stop offset="1" stop-color="#9a262d"></stop></linearGradient><path fill="url(#puiLIdPFIkDHpSx0J2pbQa_FplL8MNgQtgJ_gr1)" d="M43,11h-3v30h3c1.105,0,2-0.895,2-2V13C45,11.895,44.105,11,43,11z"></path><linearGradient id="puiLIdPFIkDHpSx0J2pbQb_FplL8MNgQtgJ_gr2" x1="23" x2="23" y1="7.174" y2="41.832" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f44f5a"></stop><stop offset=".443" stop-color="#ee3d4a"></stop><stop offset="1" stop-color="#e52030"></stop></linearGradient><path fill="url(#puiLIdPFIkDHpSx0J2pbQb_FplL8MNgQtgJ_gr2)" d="M41,39V9c0-1.105-0.895-2-2-2H5C3.895,7,3,7.895,3,9v30c0,1.105,0.895,2,2,2h38	C41.895,41,41,40.105,41,39z"></path><path fill="#fff" d="M37,17H7c-0.552,0-1-0.448-1-1v-2c0-0.552,0.448-1,1-1h30c0.552,0,1,0.448,1,1v2	C38,16.552,37.552,17,37,17z"></path><path fill="#fff" d="M19,35H7c-0.552,0-1-0.448-1-1V22c0-0.552,0.448-1,1-1h12c0.552,0,1,0.448,1,1v12	C20,34.552,19.552,35,19,35z"></path><path fill="#fff" d="M38,24H24v-2c0-0.552,0.448-1,1-1h12c0.552,0,1,0.448,1,1V24z"></path><rect width="14" height="3" x="24" y="24" fill="#ffb7bb"></rect><path fill="#f87e86" d="M37,30H25c-0.552,0-1-0.448-1-1v-2h14v2C38,29.552,37.552,30,37,30z"></path>
                          </svg>
                          <span class="px-1">Feed </span></a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="">
                          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 48 48">
                            <radialGradient id="8O3wK6b5ASW2Wn6hRCB5xa_YFbzdUk7Q3F8_gr1" cx="11.087" cy="7.022" r="47.612" gradientTransform="matrix(1 0 0 -1 0 50)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#1292ff"></stop><stop offset=".079" stop-color="#2982ff"></stop><stop offset=".23" stop-color="#4e69ff"></stop><stop offset=".351" stop-color="#6559ff"></stop><stop offset=".428" stop-color="#6d53ff"></stop><stop offset=".754" stop-color="#df47aa"></stop><stop offset=".946" stop-color="#ff6257"></stop></radialGradient><path fill="url(#8O3wK6b5ASW2Wn6hRCB5xa_YFbzdUk7Q3F8_gr1)" d="M44,23.5C44,34.27,35.05,43,24,43c-1.651,0-3.25-0.194-4.784-0.564	c-0.465-0.112-0.951-0.069-1.379,0.145L13.46,44.77C12.33,45.335,11,44.513,11,43.249v-4.025c0-0.575-0.257-1.111-0.681-1.499	C6.425,34.165,4,29.11,4,23.5C4,12.73,12.95,4,24,4S44,12.73,44,23.5z"></path><path d="M34.992,17.292c-0.428,0-0.843,0.142-1.2,0.411l-5.694,4.215	c-0.133,0.1-0.28,0.15-0.435,0.15c-0.15,0-0.291-0.047-0.41-0.136l-3.972-2.99c-0.808-0.601-1.76-0.918-2.757-0.918	c-1.576,0-3.025,0.791-3.876,2.116l-1.211,1.891l-4.12,6.695c-0.392,0.614-0.422,1.372-0.071,2.014	c0.358,0.654,1.034,1.06,1.764,1.06c0.428,0,0.843-0.142,1.2-0.411l5.694-4.215c0.133-0.1,0.28-0.15,0.435-0.15	c0.15,0,0.291,0.047,0.41,0.136l3.972,2.99c0.809,0.602,1.76,0.918,2.757,0.918c1.576,0,3.025-0.791,3.876-2.116l1.211-1.891	l4.12-6.695c0.392-0.614,0.422-1.372,0.071-2.014C36.398,17.698,35.722,17.292,34.992,17.292L34.992,17.292z" opacity=".05"></path><path d="M34.992,17.792c-0.319,0-0.63,0.107-0.899,0.31l-5.697,4.218	c-0.216,0.163-0.468,0.248-0.732,0.248c-0.259,0-0.504-0.082-0.71-0.236l-3.973-2.991c-0.719-0.535-1.568-0.817-2.457-0.817	c-1.405,0-2.696,0.705-3.455,1.887l-1.21,1.891l-4.115,6.688c-0.297,0.465-0.32,1.033-0.058,1.511c0.266,0.486,0.787,0.8,1.325,0.8	c0.319,0,0.63-0.107,0.899-0.31l5.697-4.218c0.216-0.163,0.468-0.248,0.732-0.248c0.259,0,0.504,0.082,0.71,0.236l3.973,2.991	c0.719,0.535,1.568,0.817,2.457,0.817c1.405,0,2.696-0.705,3.455-1.887l1.21-1.891l4.115-6.688c0.297-0.465,0.32-1.033,0.058-1.511	C36.051,18.106,35.531,17.792,34.992,17.792L34.992,17.792z" opacity=".07"></path><path fill="#fff" d="M34.394,18.501l-5.7,4.22c-0.61,0.46-1.44,0.46-2.04,0.01L22.68,19.74	c-1.68-1.25-4.06-0.82-5.19,0.94l-1.21,1.89l-4.11,6.68c-0.6,0.94,0.55,2.01,1.44,1.34l5.7-4.22c0.61-0.46,1.44-0.46,2.04-0.01	l3.974,2.991c1.68,1.25,4.06,0.82,5.19-0.94l1.21-1.89l4.11-6.68C36.434,18.901,35.284,17.831,34.394,18.501z"></path>
                            </svg>
                          <span class="px-1">Messenger </span></a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="">
                          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 48 48">
                            <path fill="#eb6773" d="M37,6c0-1.105-0.895-2-2-2H13c-1.105,0-2,0.895-2,2v4h26V6z"></path><path fill="#b31523" d="M11,41.72c0,0.996,1.092,1.606,1.94,1.084L24,35.998l11.06,6.806C35.908,43.326,37,42.716,37,41.72	V30H11V41.72z"></path><rect width="26" height="12" x="11" y="18" fill="#cf1928"></rect><rect width="26" height="8" x="11" y="10" fill="#d9414f"></rect><path d="M37,13.868c-0.143,0.134-0.27,0.287-0.354,0.476l-2.417,5.419l-5.902,0.623	c-0.59,0.063-1.07,0.454-1.253,1.019c-0.184,0.565-0.023,1.164,0.418,1.56l4.408,3.973l-1.232,5.805	c-0.093,0.439,0.015,0.892,0.297,1.24c0.28,0.346,0.712,0.553,1.155,0.553c0.256,0,0.512-0.068,0.741-0.199L37,31.947V13.868z" opacity=".05"></path><path d="M37,14.777l-2.431,5.453l-6.188,0.653c-0.392,0.042-0.71,0.302-0.831,0.676	c-0.122,0.375-0.015,0.771,0.277,1.034l4.622,4.165l-1.292,6.087c-0.062,0.292,0.01,0.592,0.196,0.822s0.473,0.367,0.767,0.367	c0.17,0,0.34-0.046,0.491-0.132L37,31.37V14.777z" opacity=".07"></path><linearGradient id="sVVMIiOtUETG57~p7RkEia_ODpuHNgfyltD_gr1" x1="30.747" x2="44.819" y1="-371.32" y2="-390.147" gradientTransform="matrix(1 0 0 -1 0 -356)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ffda1c"></stop><stop offset="1" stop-color="#feb705"></stop></linearGradient><path fill="url(#sVVMIiOtUETG57~p7RkEia_ODpuHNgfyltD_gr1)" d="M38.442,14.751l2.651,5.946l6.474,0.684c0.417,0.044,0.584,0.56,0.273,0.841l-4.836,4.358	l1.351,6.369c0.087,0.41-0.352,0.729-0.715,0.52L38,30.215l-5.639,3.253c-0.363,0.209-0.802-0.11-0.715-0.52l1.351-6.369	l-4.836-4.358c-0.311-0.28-0.143-0.797,0.273-0.841l6.474-0.684l2.651-5.946C37.728,14.369,38.271,14.369,38.442,14.751z"></path>
                            </svg>
                          <span class="px-1">Saved </span></a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="">
                          <img width="25" height="25" src="https://img.icons8.com/fluency/48/event.png" alt="event"/>
                          <span class="px-1">Events </span></a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="">
                          <img width="25" height="25" src="https://img.icons8.com/fluency/48/group.png" alt="group"/>
                          <span class="px-1">Groups </span></a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="">
                          <img width="25" height="25" src="https://img.icons8.com/fluency/48/topic-push-notification.png" alt="topic-push-notification"/>
                          <span class="px-1">Notifications </span></a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="">
                          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 48 48">
                            <linearGradient id="L4rKfs~Qrm~k0Pk8MRsoza_s5NUIabJrb4C_gr1" x1="32.012" x2="15.881" y1="32.012" y2="15.881" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fff"></stop><stop offset=".242" stop-color="#f2f2f2"></stop><stop offset="1" stop-color="#ccc"></stop></linearGradient><circle cx="24" cy="24" r="11.5" fill="url(#L4rKfs~Qrm~k0Pk8MRsoza_s5NUIabJrb4C_gr1)"></circle><linearGradient id="L4rKfs~Qrm~k0Pk8MRsozb_s5NUIabJrb4C_gr2" x1="17.45" x2="28.94" y1="17.45" y2="28.94" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#0d61a9"></stop><stop offset=".363" stop-color="#0e5fa4"></stop><stop offset=".78" stop-color="#135796"></stop><stop offset="1" stop-color="#16528c"></stop></linearGradient><circle cx="24" cy="24" r="7" fill="url(#L4rKfs~Qrm~k0Pk8MRsozb_s5NUIabJrb4C_gr2)"></circle><linearGradient id="L4rKfs~Qrm~k0Pk8MRsozc_s5NUIabJrb4C_gr3" x1="5.326" x2="38.082" y1="5.344" y2="38.099" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#889097"></stop><stop offset=".331" stop-color="#848c94"></stop><stop offset=".669" stop-color="#78828b"></stop><stop offset="1" stop-color="#64717c"></stop></linearGradient><path fill="url(#L4rKfs~Qrm~k0Pk8MRsozc_s5NUIabJrb4C_gr3)" d="M43.407,19.243c-2.389-0.029-4.702-1.274-5.983-3.493c-1.233-2.136-1.208-4.649-0.162-6.693 c-2.125-1.887-4.642-3.339-7.43-4.188C28.577,6.756,26.435,8,24,8s-4.577-1.244-5.831-3.131c-2.788,0.849-5.305,2.301-7.43,4.188 c1.046,2.044,1.071,4.557-0.162,6.693c-1.281,2.219-3.594,3.464-5.983,3.493C4.22,20.77,4,22.358,4,24 c0,1.284,0.133,2.535,0.364,3.752c2.469-0.051,4.891,1.208,6.213,3.498c1.368,2.37,1.187,5.204-0.22,7.345 c2.082,1.947,4.573,3.456,7.34,4.375C18.827,40.624,21.221,39,24,39s5.173,1.624,6.303,3.971c2.767-0.919,5.258-2.428,7.34-4.375 c-1.407-2.141-1.588-4.975-0.22-7.345c1.322-2.29,3.743-3.549,6.213-3.498C43.867,26.535,44,25.284,44,24 C44,22.358,43.78,20.77,43.407,19.243z M24,34.5c-5.799,0-10.5-4.701-10.5-10.5c0-5.799,4.701-10.5,10.5-10.5S34.5,18.201,34.5,24 C34.5,29.799,29.799,34.5,24,34.5z"></path>
                            </svg>
                          <span class="px-1">Settings </span></a
                        >
                      </li>
                    </ul>
                    <!-- Side Nav END -->
                  </div>
                  <!-- Card body END -->
                  <!-- Card footer -->
                  <div class="card-footer text-center py-2">
                    <a class="btn btn-link btn-sm" href="" style="color: #6499E9; text-decoration: none;"
                      >View Profile
                    </a>
                  </div>
                </div>
                <!-- Card END -->

                <!-- Helper link START -->
                <ul class="nav small mt-4 justify-content-center lh-1 feed-nav-links">
                  <li class="nav-item">
                    <a class="nav-link" href="">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Settings</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" target="_blank" href="">Support </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" target="_blank" href="">Docs </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Help</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Privacy &amp; terms</a>
                  </li>
                </ul>
                <!-- Helper link END -->
                <!-- Copyright -->
                <p class="small text-center mt-2" style="color: #646464;">
                  ©2023
                  <a target="_blank" href="/" class="px-1" style="color: #4942E4;">PeerPulse</a>
                </p>
              </div>
            </div>
          </nav>
          <!-- Navbar END-->
        </div>

        <!-- Main Content -->
        <div class="col-md-8 col-lg-6 vstack gap-4 mt-5">

          <!-- Post Content -->
          <div class="card card-body" id="post-section" style="margin-top: 52px;">
            <div class="d-flex mb-3 mt-3">
              <!-- Avatar -->
              <div class="avatar avatar-xs me-2">
                <a href="#">
                  <img
                    class="avatar-img rounded-circle"
                    src="https://pbs.twimg.com/profile_images/1685344710498656256/PYCqwObJ_400x400.jpg"
                    alt=""
                  />
                </a>
              </div>
              <!-- Post input -->
              <form class="w-100" method="post">
                <textarea
                  class="form-control pe-4 border-0"
                  rows="2"
                  data-autoresize=""
                  placeholder="Share your thoughts..."
                ></textarea>
            </div>
            <!-- Share feed toolbar START -->
            <ul class="nav nav-pills nav-stack small fw-normal feed-post">
              <li class="nav-item">
                <a
                  class="nav-link bg-dark py-1 px-1 mb-0"
                  href="#!"
                  data-bs-toggle="modal"
                  data-bs-target="#feedActionPhoto"
                >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-image m-1" viewBox="0 0 16 16">
                  <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                  <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"/>
                </svg>Photo
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link bg-dark py-1 px-1 mb-0"
                  href="#!"
                  data-bs-toggle="modal"
                  data-bs-target="#feedActionVideo"
                  style="margin-left: 10px;"
                >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-reels m-1" viewBox="0 0 16 16">
                  <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"/>
                  <path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"/>
                  <path d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                </svg>
                  Video
                </a>
              </li>
              <li class="nav-item">
                <a
                  href="#"
                  class="nav-link bg-dark py-1 px-1 mb-0"
                  data-bs-toggle="modal"
                  data-bs-target="#modalCreateEvents"
                  style="margin-left: 10px;"
                >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar4-event m-1" viewBox="0 0 16 16">
                  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z"/>
                  <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                </svg>Event
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link bg-dark py-1 px-1 mb-0"
                  href="#!"
                  data-bs-toggle="modal"
                  data-bs-target="#modalCreateFeed"
                  style="margin-left: 10px;"
                >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-smile-fill m-1" viewBox="0 0 16 16">
                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zM4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8z"/>
                </svg>Feeling /Activity</a
                >
              </li>
              <button type="" class="btn btn-primary ms-auto" style="height: 32px; padding: 3px 5px;" disabled>
                <span class="material-icons">
                  send
                </span>
              </button>
            </form>
            <!-- Share feed toolbar END -->
          </div>

          <!-- NewsFeed Contents -->
          <div class="post-item d-flex flex-column gap-md-7" id="news-feed">
          <% posts.forEach(post => { %>
            <div class="post-single-box p-3 p-sm-5">

              <!-- Post Description -->
              <div class="top-area pb-5">      
                  <div class="profile-area d-center justify-content-between">
                      <div class="avatar-item d-flex gap-3 align-items-center">
                          <div class="avatar position-relative">
                              <img class="avatar-img max-un" src="<%= post.profilePic %>" alt="avatar">
                          </div>
                          <div class="info-area">
                              <h6 class="m-0"><a href=""><%= post.name %></a></h6>
                              <span class="mdtxt status" style="color: #333;">Active</span>
                          </div>
                      </div>
                  </div>
                  <div class="py-4">
                      <p class="description"><%= post.description %></p>
                  </div>
                  <div class="post-img">
                      <img src="<%= post.postImage %>" class="w-100" alt="image">
                  </div>
              </div>

              <!-- Like Comments And Share -->
              <div class="like-comment-share">
                <button class="like-button">
                  <i class="fas fa-thumbs-up"></i>
                  Like
                </button>
                <button class="comment-button"><i class="fas fa-comment"></i> Comment</button>
                <button class="share-button"><i class="fas fa-share"></i> Share</button>
              </div>  
            </div>
            <% }); %>
          </div>
        </div>

        <!-- Right Sidebar -->
        <div class="col-lg-3 mt-5">
          <div class="row g-4 mt-5">

            <!-- Card follow START -->
            <div class="col-sm-6 col-lg-12">
              <div class="card">
                <!-- Card header START -->
                <div class="card-header pb-0 border-0">
                  <h5 class="card-title mb-0">Who to follow</h5>
                </div>
                <!-- Card header END -->
                <!-- Card body START -->
                <div class="card-body">
                  <!-- Connection item START -->
                  <div class="hstack gap-2 mb-3">
                    <!-- Avatar -->
                    <div class="avatar">
                      <a href="#!"
                        ><img
                          class="avatar-img rounded-circle"
                          src="https://media.licdn.com/dms/image/D5603AQHv6LsdiUg1kw/profile-displayphoto-shrink_400_400/0/1695167344576?e=1700697600&v=beta&t=b2YmHcfNCknHxnv1UM6AFis2Pd6mQuMhArvPcs1eOag"
                          alt="avatar-1"
                      /></a>
                    </div>
                    <!-- Title -->
                    <div class="overflow-hidden">
                      <a class="h6 mb-0" href="#!">Bill Gates</a>
                      <p class="mb-0 small text-truncate">Co-chair, Bill & Melinda Gates Foundation</p>
                    </div>
                    <!-- Button -->
                    <a class="ms-auto" href="#">
                      <span class="material-icons btn-outline-primary add-friend">
                        person_add
                      </span>
                    </a>
                  </div>
                  <!-- Connection item END -->
                  <!-- Connection item START -->
                  <div class="hstack gap-2 mb-3">
                    <!-- Avatar -->
                    <div class="avatar avatar-story">
                      <a href="#!">
                        <img
                          class="avatar-img rounded-circle"
                          src="https://media.licdn.com/dms/image/D4D03AQHGNAxeyJhZbQ/profile-displayphoto-shrink_400_400/0/1685972237021?e=1700697600&v=beta&t=cUaiTMHDZ2QfvyqRF_bIO5Ibemf2wO7iApk6KVqnDB4"
                          alt="avatar-2"
                        />
                      </a>
                    </div>
                    <!-- Title -->
                    <div class="overflow-hidden">
                      <a class="h6 mb-0" href="#!">Shradha Khapra</a>
                      <p class="mb-0 small text-truncate">
                        Co-founder, Apna College
                      </p>
                    </div>
                    <!-- Button -->
                    <a class="ms-auto" href="#">
                      <span class="material-icons btn-outline-primary add-friend">
                        person_add
                      </span>
                    </a>
                  </div>
                  <!-- Connection item END -->

                  <!-- Connection item START -->
                  <div class="hstack gap-2 mb-3">
                    <!-- Avatar -->
                    <div class="avatar">
                      <a href="#">
                        <img
                          class="avatar-img rounded-circle"
                          src="https://media.licdn.com/dms/image/D4D03AQHW7rG3cPqBiQ/profile-displayphoto-shrink_400_400/0/1670902742987?e=1700697600&v=beta&t=uZdeA5wCsD65R_qNw2gSwEEc4qrSluBW_4Sp6SIS_XM"
                          alt=""
                        />
                      </a>
                    </div>
                    <!-- Title -->
                    <div class="overflow-hidden">
                      <a class="h6 mb-0" href="#!">Ankur Warikoo</a>
                      <p class="mb-0 small text-truncate">Content creator</p>
                    </div>
                    <!-- Button -->
                    <a class="ms-auto" href="#">
                      <span class="material-icons btn-outline-primary add-friend">
                        person_add
                      </span>
                    </a>
                  </div>
                  <!-- Connection item END -->

                  <!-- Connection item START -->
                  <div class="hstack gap-2 mb-3">
                    <!-- Avatar -->
                    <div class="avatar">
                      <a href="#">
                        <img
                          class="avatar-img rounded-circle"
                          src="https://media.licdn.com/dms/image/C4D03AQGDqUVMsUpvuQ/profile-displayphoto-shrink_400_400/0/1661756872436?e=1700697600&v=beta&t=24F6118EisrC-bgoyfbjbVPZqbdIyzV-ZFnuuivzgu0"
                          alt=""
                        />
                      </a>
                    </div>
                    <!-- Title -->
                    <div class="overflow-hidden">
                      <a class="h6 mb-0" href="#!">Gaur Gopal Das</a>
                      <p class="mb-0 small text-truncate">International Life Coach</p>
                    </div>
                    <!-- Button -->
                    <a class="ms-auto" href="#">
                      <span class="material-icons btn-outline-primary add-friend">
                        person_add
                      </span>
                    </a>
                  </div>
                  <!-- Connection item END -->

                  <!-- Connection item START -->
                  <div class="hstack gap-2 mb-3">
                    <!-- Avatar -->
                    <div class="avatar">
                      <a href="#">
                        <img
                          class="avatar-img rounded-circle"
                          src="https://media.licdn.com/dms/image/D5603AQGyXMr5RXkkwQ/profile-displayphoto-shrink_800_800/0/1675256846656?e=1700697600&v=beta&t=uKzbETERkzHr6mKIGp_-9shMJWKdbvbRHaFKgYj8i9I"
                          alt=""
                        />
                      </a>
                    </div>
                    <!-- Title -->
                    <div class="overflow-hidden">
                      <a class="h6 mb-0" href="#!">Nishant Chahar</a>
                      <p class="mb-0 small text-truncate">SDE @ Microsoft</p>
                    </div>
                    <!-- Button -->
                    <a class="ms-auto" href="#">
                      <span class="material-icons btn-outline-primary add-friend">
                        person_add
                      </span>
                    </a>
                  </div>
                  <!-- Connection item END -->

                  <!-- View more button -->
                  <div class="d-grid mt-3">
                    <a class="btn btn-sm btn-primary-soft" href="#!" 
                      >View more</a
                    >
                  </div>
                </div>
                <!-- Card body END -->
              </div>
            </div>

            <!-- Card News START -->
            <div class="col-sm-6 col-lg-12">
              <div class="card">
                <!-- Card header START -->
                <div class="card-header pb-0 border-0">
                  <h5 class="card-title mb-0">Today’s news</h5>
                </div>
                <!-- Card header END -->
                <!-- Card body START -->
                <div class="card-body">
                  <!-- News item -->
                  <div class="mb-3">
                    <h6 class="mb-0">
                      <a href="/blog" class="blog-text"
                        >Unlocking the Power of Social Media: A Comprehensive Guide</a
                      >
                    </h6>
                    <small>10min</small>
                  </div>
                  <!-- News item -->
                  <div class="mb-3">
                    <h6 class="mb-0">
                      <a href="/blog" class="blog-text"
                        >The Impact of Social Media on Modern Society: A Deep Dive</a
                      >
                    </h6>
                    <small>34min</small>
                  </div>
                  <!-- News item -->
                  <div class="mb-3">
                    <h6 class="mb-0">
                      <a href="/blog" class="blog-text"
                        >Building Your Brand through Social Media: Strategies for Success</a
                      >
                    </h6>
                    <small>1hr</small>
                  </div>
                  <!-- News item -->
                  <div class="mb-3">
                    <h6 class="mb-0">
                      <a href="/blog" class="blog-text"
                        >Crafting Compelling Content for Social Media: Tips and Tricks</a
                      >
                    </h6>
                    <small>3hr</small>
                  </div>
                  <!-- Load more comments -->
                  <a
                    href="#!"
                    role="button"
                    class="btn btn-link btn-link-loader btn-sm text-secondary d-flex align-items-center"
                    data-bs-toggle="button"
                    aria-pressed="true"
                    style="text-decoration: none;"
                  >
                    View all latest news
                  </a>
                </div>
                <!-- Card body END -->
              </div>
            </div>
            <!-- Card News END -->
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
