* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
#trending {
  margin-top: 40px;
  padding: 5% 10%;
  font-family: 'Poppins', sans-serif;
}
.title {
  font-size: 3rem;
  padding-bottom: 13px;
}

.pera {
  font-size: 1.4rem;
}

.view {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-top: 7%;
  padding-bottom: 3%;
}

.view i {
  vertical-align: middle;
}

.view a {
  color: blue;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  gap: 4rem;
}

.row {
  position: relative;
  transition: all 0.4s;
}

.row img {
  width: 100%;
  height: auto;
  transition: all 0.4s;
  border-radius: 10px;
}

.row img:hover {
  transform: scale(0.9);
}

.row h5 {
  padding: 5px 0 5px 0;
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.9rem;
}

.row h4 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.2rem;
  padding-bottom: 5px;
}

#trending .row p {
  color: rgba(0, 0, 0, 0.7);
}

.heart-icon {
  position: absolute;
  right: 0;
  font-size: 20px;
}

.heart-icon:hover {
  color: red;
}

.ratting {
  color: #ff8c00;
  font-size: 18px;
}

.price h4 {
  color: black;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
}

.price p {
  color: black;
  font-size: 14px;
  font-weight: 600;
}
