*{
  margin: 0;
  padding: 0;
}
#features{
  font-family: 'Open Sans', sans-serif;
}
#features .feature-box {
    text-align: center;
    padding: 30px;
    margin: 40px 0 0;
    background-color: #f9f9f9;
    border-radius: 10px;
  }
  
  #features .feature-box i {
    font-size: 3em;
    margin-bottom: 15px;
    color: rgba(0, 119, 255, 0.451);
  }
  
  #features .feature-box h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
  }
  
  #features .feature-box p {
    font-size: 1em;
  }
  