body {
  background-color: #1a1a1f;
  font-family: 'Roboto', sans-serif;
}
header {
  background-color: #0f0f10;
}
a {
  text-decoration: none;
}
header .nav-icons{
  position: relative;
  right: 36px;
}
h5{
  color: #6499E9;
}
/* Form */
.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}
/* styling of whole input container */
.form {
  --timing: 0.3s;
  --width-of-input: 200px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #2f2ee9;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg,#fff);
}
/* styling of Input */
.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}
/* styling of animated border */
.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}
/* Hover on Input */
.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}
/* here is code of animated border */
.form:focus-within:before {
  transform: scale(1);
}
/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}
/* close button shown when typing */
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
/* sizing svg icons */
.form svg {
  width: 17px;
  height: 19px;
}
.icons span {
  height: 30px;
}
.icons span:hover {
  cursor: pointer;
  color: rgb(26, 164, 255);
}
.profile-pic {
  margin-left: 10px;
}
.card {
  background-color: #141519;
  color: #ffff;
}
.avatar-img {
  width: 50px;
  height: 45px;
}
.add-friend{
  color: #1E90FF;
}
.blog-text{
  color: #74a4f2;
}
.feed-post li svg{
  color: #1d9bf0;
}
.feed-post a{
  color: #a8c4d9;
}
.feed-post a:hover{
  color: #50b3ff;
}
.feed-post button{
  background-color: #1d9bf0;
}
.left-nav span{
  color: #a8c4d9;
}
.feed-nav-links a{
  color: #279EFF;
}
#news-feed {
  background-color: #0f0f10;
}
#news-feed .avatar-img {
  border-radius: 50%;
}
#news-feed .description {
  color: #ffff;
}
.like-comment-share {
  display: flex;
  justify-content: space-between;
}

.like-button, .comment-button, .share-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.like-button i, .comment-button i, .share-button i {
  margin-right: 8px;
}

.like-button,.share-button,.comment-button {
  color: white;
}
.like-button:hover,.share-button:hover,.comment-button:hover {
  color: rgb(0, 157, 255);
}
#news-feed{
    border: 1px solid #2e3336; /* Border color and thickness */
}
#news-feed .post-single-box{
  border: 1px solid #2e3336;
}
#news-feed .top-area{
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid #2e3336;
  border-bottom: none;
}
#news-feed .like-comment-share{
  border: 1px solid #2e3336;
  border-radius: 0px 0px 10px 10px;
}
@media(max-width: 480px) {
  .feed-post a{
    font-size: 10px;
  }
  .feed-post svg{
    width: 10px;
  }
  .feed-post .nav-item{
    max-width: 130px;
    height: 40px;
  }
  .feed-post button span{
    margin-top: 1px;
  }
}
@media(max-width: 387px) {
  .feed-post a{
    font-size: 8px;
  }
  .feed-post svg{
    width: 10px;
  }
}